body{

font-family:Arial;

margin:20px;

transition:0.4s;

}

.dark{

background:#222;

color:white;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

}

.navbar{

display:flex;

gap:20px;

}

.menu-icon{

display:none;

font-size:30px;

cursor:pointer;

}

.notification{

background:orange;

padding:10px;

margin:20px 0;

}

.answer{

display:none;

}

#modal{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.6);

}

.modal-content{

background:white;

width:300px;

margin:120px auto;

padding:20px;

text-align:center;

}

@media(max-width:768px){

.navbar{

display:none;

flex-direction:column;

}

.navbar.active{

display:flex;

}

.menu-icon{

display:block;

}

}